DATABASE_URL="mysql://root:root@localhost:3306/farmacia_bairro_saude"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="farmacia_bairro_saude"
PORT=3333
JWT_SECRET="trocar-por-um-segredo-forte"
CONSULTAR_IO_TOKEN=""
